---
const { siteTitleHref } = Astro.locals.starlightRoute;
---

<a href={siteTitleHref} class="site-title fu-site-title sl-flex">
  <img src="https://fileuni.com/favicon.svg" alt="FileUni logo" width="32" height="32" />
  <span translate="no">FileUni</span>
</a>
